.content-wrapper {
  border-inline: 1px solid #d9d4d9;
}

a {
  text-decoration: none;
}

.burger-menu {
  display: none;
}

.toggle-magic {
  display: none;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  align-items: center;
  a {
    color: #3e846f;
  }
}

header > figure {
  background-image: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  aspect-ratio: 3/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  h1 {
    color: white;
    font-size: 40px;
  }
}

main {
  padding: 0 1rem;
}

form {
  padding: 3rem 0;
  fieldset {
    padding: 0;
    border: none;
    legend {
      font-size: 32px;
      line-height: 43.58px;
      padding-bottom: 1rem;
    }
    ul {
      padding: 0 0 1rem 0;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      li {
        display: flex;
        width: 100%;
        flex-direction: column;
        input {
          border: none;
          box-shadow: 1px 1px 2px 0px lightgray;
          height: 45px;
          font-size: 25px;
        }
        label {
          font-size: 20px;
        }
      }
    }
    button {
      display: block;
      margin: auto;
      background-color: #3e846f;
      color: white;
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      font-size: 24px;
      box-shadow: 0px 3px 3px #c0c0c0;
    }
  }
}

h2 {
  text-align: center;
  font-size: 32px;
}

.plans-section,
.planted-section {
  padding: 2rem 0 3rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  .card {
    display: flex;
    flex-direction: column;
    aspect-ratio: 5/7;
    box-shadow: 3px 3px 3px #c0c0c0;
    figure {
      background-image: url("https://images.unsplash.com/photo-1518568403628-df55701ade9e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

      flex: 4;
      background-position: center;
      background-size: cover;
    }
    div {
      padding: 1rem;
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .card-header {
        font-size: 24px;
      }
      .card-date {
        justify-self: flex-end;
        font-size: 16px;
      }
      .card-name {
        align-self: flex-end;
        font-size: 16px;
      }
      .card-button {
        padding: 5px;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        background-color: #b93857;
        color: white;
        align-self: flex-end;
      }
      .trashcan {
        display: none;
      }
    }
  }
}

footer {
  section {
    background-color: #9e6d52;
    max-width: 100%;
    aspect-ratio: 3/1;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    figure {
      flex: 1;
      .footer-imgs {
        object-fit: cover;
        height: 100%;
        width: 100%;
        display: block;
        margin: auto;
      }
    }
  }
  nav {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: black;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 685px) {
  header {
    .burger-menu {
      display: block;
      height: 2rem;
      position: absolute;
      top: 10px;
      right: 5px;
      z-index: 3;
    }
    .toggle-magic {
      display: block;
      height: 2rem;
      width: 2.5rem;
      position: absolute;
      top: 8px;
      right: 5px;
      z-index: 5;
    }
    figure {
      padding-top: 5rem;
      h1 {
        font-size: 32px;
        padding-bottom: 4rem;
      }
    }
  }
  .header-nav {
    display: none;
  }
  form {
    padding: 2rem 0;
    fieldset {
      legend {
        text-align: center;
        font-size: 24px;
      }
      ul {
        flex-direction: column;
        li {
          input {
            height: 36px;
          }
          label {
            font-size: 12px;
          }
        }
      }
      .form-button {
        font-size: 16px;
        padding: 0.6rem 1rem 0.4rem 1rem;
      }
    }
  }
  h2 {
    font-size: 16px;
  }
  .plans-section,
  .planted-section {
    grid-template-columns: repeat(2, 1fr);
    .card {
      div {
        .card-header {
          font-size: 16px;
        }
        .card-date {
          font-size: 10px;
        }
        .card-name {
          font-size: 10px;
        }
        .card-button {
          display: none;
        }
        .trashcan {
          display: block;
          align-self: flex-end;
          justify-self: flex-end;
        }
      }
    }
  }
  footer {
    section {
      aspect-ratio: 3/2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      figure {
        min-height: 0;
        width: 100%;
        overflow: hidden;
        .footer-imgs {
          object-fit: contain;
          min-height: 0;
          height: auto;
          max-width: 100%;
          display: block;
          margin: auto;
        }
      }
    }
    nav {
      a {
        font-size: 14px;
      }
    }
  }
}
