* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fcf5fc;
}

.content-wrapper {
  background-color: white;
  max-width: 1000px;
  margin-bottom: 4rem;
}

.header-nav > a,
header h1 {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

form,
footer nav {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.form-button,
.card-date,
.card-name {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2,
.card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.card-name {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
  a {
    color: #3e846f;
  }
}

header > figure {
  background-image: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  h1 {
    color: white;
  }
}

main {
  padding: 0 1rem;
}

form {
  padding: 3rem 0;
  fieldset {
    padding: 0;
    border: none;
    legend {
      font-size: 32px;
      line-height: 43.58px;
      padding-bottom: 1rem;
    }
    ul {
      padding: 0 0 1rem 0;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      li {
        display: flex;
        width: 100%;
        flex-direction: column;
        input {
          border: none;
          box-shadow: 1px 1px 2px 0px lightgray;
          height: 45px;
          font-size: 25px;
        }
      }
    }
    button {
      display: block;
      margin: auto;
      background-color: #3e846f;
      color: white;
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      font-size: 24px;
    }
  }
}

h2 {
  text-align: center;
}

.plans-section,
.planted-section {
  padding: 2rem 0 3rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  .card {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    figure {
      background-image: url("https://images.unsplash.com/photo-1518568403628-df55701ade9e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

      flex: 11;
      background-position: center;
      background-size: cover;
    }
    div {
      padding: 1rem;
      flex: 5;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .card-date {
        justify-self: flex-end;
      }
      .card-name {
        align-self: flex-end;
      }
      .card-button {
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: #b93857;
        color: white;
        align-self: flex-end;
      }
    }
  }
}

footer {
  section {
    background-color: #9e6d52;
    max-width: 100%;
    height: 336px;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    figure {
      flex: 1;
      .footer-imgs {
        object-fit: cover;
        height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
      }
    }
  }
  nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: black;
      font-size: 24px;
    }
  }
}
